* {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

body {
    background-color: rgba(138, 162, 158, 0.2);
}

/* HEADER NAVBAR */

.headerBar h1 {
    margin-left: 1.5rem;
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
}

.headerBar {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    position: fixed;
    top: 0;
    align-content: center;
    align-items: center;
    z-index: 5;
    height: 4rem;
    background-color: #fafafa;
}

.navBar ul{
    list-style: none;
    text-decoration: none;
}

.navBar ul li {
    display: inline-flex;
    padding: 1.2rem;
}

.icon {
    display: none;
}

.links, :hover, :visited {
    list-style: none;
    text-decoration: none;
    color: black;
}

/* HEADER NAVBAR MOBILE */

@media only screen and (max-width: 600px) {

    /* HEADER */
    .headerBar {
        display: flex;
        justify-content: space-between;
        margin: auto 0;
        position: absolute;
    }

    .headerBar h1 {
        text-align: center;
        font-size: 1.5rem;
        letter-spacing: 0.3rem;

    }

    /* NAVBAR */
    .navBar {
        display: none;
    }

    .icon {
      float: right;
      display: block;
      margin: auto 1rem;
      color: black;
    }

    .navBar.responsive {
        position: absolute;
        top: 4rem;
        float: none;
        display: block;
        text-align: left;
        background-color: #fafafa;
        width: 100%;
    }

    .navBar.responsive ul {
        text-align: center;
        margin: auto;
    }
}

.whiteBlock {
    height: 4rem;
}

.mainContainer{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/* MAIN MOBILE */

@media only screen and (max-width: 1024px){
    .mainContainer{
        position: initial;
        top: initial;
        transform: initial;
    }
}

/* ABOUT ME */

.aboutMeContainer {
    display: flex;
    width: 70%;
    margin: 2rem auto;
}

#aboutMeText {
    justify-content: left;
    margin: auto 3rem;
    line-height: 1.6rem;
    overflow: auto;
}

#aboutMeText h2 {
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 700;
}

#myFace {
    justify-content: right;
    padding: 0.5rem;
} 

#myFace img {
    border-radius: 10%;
}

/* ABOUT ME MOBILE TO TABLET (LANDSCAPE) */

@media only screen and (max-width: 1024px){
    .aboutMeContainer{
        display: block;
        margin: auto;
        width: 100%;
        justify-content: center;
        text-align: center;
    }

    .aboutMeContainer h2{
        margin: 1rem;
    }

    #myFace {
        margin: 0.5rem;
    }
}

@media only screen and (max-width: 340px){
    #myFace img {
        width: 150px;
    }

    .mainContainer {
        display: block;
    }
}

/* SKILLS */

.skillsContainer {
    display: flex;
    width: 70%;
    flex-direction: column;
    margin: 3rem auto;
}

.skillsContainer h2 {
    width: 100%;
    font-size: 2rem;
    font-weight: 700;
    margin: auto 3rem;
    line-height: 1.6rem;
    justify-content: left;
}

.iconList {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 40px 1fr);
    margin: 0.5rem;
}

.iconList i {
    font-size: 2rem;
    margin: auto;
}

.iconList span {
    font-weight: 400;
    padding: 10px;
    align-items: space-between;
}

/* SKILLS MOBILE */

@media only screen and (max-width: 1024px){

    .skillsContainer h2{
        width: auto;
        margin: auto;
    }

    .iconList {
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }

    .iconList i{
        margin: 0.5rem;
    }
}

@media only screen and (max-width: 480px){
    .iconList span {
        display: none;
    }
}

/* FOOTBAR */

.footerBar {
    padding: 1rem;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0px;
    font-weight: 800;
    background-color: rgba(219, 84, 97, 0.5);
    color: #fafafa;
}

/* PROJECTS */

.projectsContainer h2{
        margin: 2rem;
        font-size: 2rem;
        font-weight: 700;
}

#gitwid {
    margin: auto;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
}

/* PROJECTS MOBILE */

@media only screen and (max-width: 480px){
    .projectsContainer{
        margin: auto;
        text-align: center;
        width: auto;
        padding-bottom: 4rem;
    }

    #gitwid{
        flex-direction: column;
        align-content: center;
        padding: 0;
    }

    .gw-repo-outer {
        width: auto !important;
    }
}

/* CONTACT ME */

.contactMeContainer h2{
    margin: 2rem;
    font-size: 2rem;
    font-weight: 700;
}

/* CONTACT ME */

#contactPage {
    display: grid;
    grid-template: 1fr / repeat(4,1fr);
    grid-auto-rows: 1fr;
    padding: 1rem;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#contactPage h2{
    width: 100%;
    font-size: 2rem;
    font-weight: 700;
    margin: auto 3rem;
    line-height: 1.6rem;
    justify-content: left;
    grid-area: "contact";
}

.contactMeContainer {
    grid-area: "form";
}

#contactPage h3 {
    grid-area: "or";
    text-align: center;
    font-size: 2rem;
}

.contactMeIcons {
    display: flex;
    flex-direction: column;
    height: 100%;
    color: black;
}

.contactMeIcons a {
    margin: auto;
    color: black;
}

.contactMeIcons a i{
    font-size: 3rem;
    color: black;
}

/* CONTACT ME TABLET */

@media only screen and (max-width: 1024px){
    #contactPage {
        grid-template: 1fr / repeat(2, 1fr);
    }

    .contactMeIcons {
        display: flex;
        flex-direction: row;
    }
}

/* CONTACT ME MOBILE */

@media only screen and (max-width: 480px){
    #contactPage {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .contactMeContainer h2{
        margin: auto;
        width: auto;
        text-align: center;
    }

    #contactPage h3 {
        grid-area: "or";
        text-align: center;
        font-size: 1rem;
        margin: 1rem;
    }

    .contactMeIcons a i{
        font-size: 2rem;
    }

    #contactPage h2{
        text-align: center;
        margin: auto;
    }
}

/* FORM */

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 50px;
    margin-left: 4rem;
}

label {
    display: block;
    margin-bottom: 5px;
}

form div input {
    height: 40px;
    border-radius: 8px;
    outline: none;
    border: 2px solid #c4c4c4;
    padding: 0 30px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

form div {
    position: relative;
    margin-bottom: 15px;
}
  
input:focus {
    border: 2px solid #f2796e;
}

form div i {
    position: absolute;
    padding: 10px;
}

.failure-icon,
.error {
  color: red;
}

.success-icon {
  color: green;
}

.error {
  font-size: 14.5px;
  margin-top: 5px;
}

.success-icon,
.failure-icon {
  right: 0;
  opacity: 0;
}

button {
    margin-top: 15px;
    width: 100%;
    height: 45px;
    background-color: #f2796e;
    border: 2px solid #f2796e;
    border-radius: 8px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.1s ease;
}

button:hover {
    opacity: 0.8;
}

/* FORM MOBILE */

@media only screen and (max-width: 1024px){

    form {
    margin-left: initial;
    }

}

@media only screen and (max-width: 330px){

    label {
        text-align: center;
    }

    form div {
        text-align: center;
    }

    form div input {
        font-size: 0.5rem;
        text-align: center;
    }

    #textarea {
        font-size: 0.5rem;
        text-align: center;
    }
}